[Desktop Entry]
Encoding=UTF-8

Version=1.0
Type=Application
Name=Passie

Terminal=false
Exec=passie

Keywords=Password;Security;
Comment=A simple password generator
Categories=Utilities;


