[Desktop Entry]
Encoding=UTF-8

Version=1.0
Type=Application
Name=Passie
Icon=${SNAP}/meta/gui/passieicon2.png

Terminal=false
Exec=passie

Keywords=Password;Security;
Comment=A simple password generator
Categories=Utilities;


